@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*, html{
    font-family: 'Inter', sans-serif;
}

/*Styling Navbar*/
nav.navbar{
    background-color: transparent !important;
}

.navbar-content{
    justify-content: space-between;
}

.navbar-content .navbar-collapse ul li a {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: black;
    margin: .5em;
}

.navbar-content .navbar-collapse ul li a.button{
    background-color: #FB8500;
    border-radius: 10px;
    color: white;
}

/*Styling kategori*/
.breadcrumb .breadcrumb-item a{
    font-weight: 400;
    font-size: 14px;
    color: #575959;
    text-decoration: none;
    padding: 0px .5em;
}

.breadcrumb .breadcrumb-item.active a{
    color: #FB8500 !important;
}

#bc::before {
    content: ">";
}
/*Styling card*/

.card .card-body h5{
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #1A1A19;
}

.card .card-body h5.pricing{
    font-weight: 500;
}

.card .card-body p{
    font-size: 14px;
    color: #575959;
}

/*Styling Dropdown*/

/* .btn-dropdown{
    border: 0.5px solid #A1A1A1;
    border-radius: 6px;
    color: #1A1A19 !important;
}

.btn-dropdown.show, .btn-dropdown:hover, .btn-dropdown:focus{
    background-color: white;
}

.dropdown-menu.show{
    background: #FCFCFC;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.05);
    border: none;
} */

select.kategori{
    width: auto !important;
}

.form-select{
    border: 0.5px solid #A1A1A1 !important;
    border-radius: 6px;
}

.form-select:after {
    content: "\25BC";
    position: absolute;
    top: 50%; 
    right: 1rem; 
    transform: translateY(-50%); 
    pointer-events: none;
}

/*Styling Page pesan*/
section.body-content{
    background-color: #F4F4F4;
    height: 91vh;
}

.body-content .btn-prev{
    padding: 2rem 0;
}

.detail-pemesanan .form-detail-pesanan, .detail-pemesanan .form-pemesan{
    padding: 1rem;
    background: #FCFCFC;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin: 0 1rem;
}

.form-control::placeholder{
    font-weight: 400;
    font-size: 12px;
    color: #A1A1A1;
}

label{
    font-weight: 400;
    font-size: 14px;
    color: #1A1A19;
    margin-left: .25rem;
}

.body-content h2{
    font-weight: 500;
    font-size: 18px;
    color: #1A1A19;
    margin: 1.25rem 0;
}

.body-content h3{
    font-size: 14px;
}

.danger{
    color: #EA261F !important;
}

h3.title-secondary{
    font-weight: 400;
    color: #575959;
}

.divider.last{
    margin-bottom: .5rem;
}

button {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
}
.buttonPrimary {
    background-color: #FB8500;
    color: #FCFCFC;
    border-radius: 10px;
    border: none;
    padding: .75rem 1.5rem;
}
.buttonPrimary:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #FB8500;
    color: white;
}

.card-left p{
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    margin: 1rem 0px;
}