@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*, html{
    font-family: 'Inter', sans-serif;
}

/*Styling Navbar*/
nav.navbar{
   width: 100%;
    background-color: transparent !important;
}

.navbar-content{
    justify-content: space-between;
}

.navbar-content .navbar-collapse ul li a {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: rgb(255, 255, 255);
    margin: .5em;
}

.navbar-content .navbar-collapse ul li a.button{
    background-color: #FB8500;
    border-radius: 10px;
    color: white;
}

/*Styling kategori*/
.breadcrumb .breadcrumb-item a{
    font-weight: 400;
    font-size: 14px;
    color: #FB8500;
    text-decoration: none;
    padding: 0px .5em;
}

.breadcrumb .breadcrumb-item a.active{
    color: #575959;
}

#bc::before {
    content: ">";
}
/*Styling card*/

.card .card-body h5{
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #1A1A19;
}

.card .card-body h5.pricing{
    font-weight: 500;
}

.card .card-body p{
    font-size: 14px;
    color: #575959;
}

.carousel-inner img {
    width: 100%;
    height: 400px; 
}

.slider-section{
width: 90%;
height: 360px;
}

.hero{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    width: 100%;
    height: 750px;
    background: url(img/cover-foto.png);
}

.navbar-trans{
    margin-top: 20px;
    position: absolute;
    z-index: 999;
    justify-content: space-between;
}
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xx{
    max-width: 1800px;
    
}
.search-input{
    border-radius: 20px;
    width: 32%;
    height: 60px;
    
}

.cards-wrapper {
    display: flex;
    justify-content: center;
  }
  .card img {
    max-width: 100%;
    max-height: 100%;
  }

  .card {
   width: 25em;
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
  }
  .carousel-inner {
    padding: 1em;
  }
  
  .carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-55%);
}
@media (min-width: 768px) {
    .card img {
      height: 10em;
    }
 }