@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*, html{
    font-family: 'Inter', sans-serif;
}

/*Styling Navbar*/
nav.navbar{
    background-color: transparent !important;
}

.navbar-content{
    justify-content: space-between;
}

.navbar-content .navbar-collapse ul li a {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: black;
    margin: .5em;
}

.navbar-content .navbar-collapse ul li a.button{
    background-color: #FB8500;
    border-radius: 10px;
    color: white;
}

/*Styling kategori*/
.breadcrumb .breadcrumb-item a{
    font-weight: 400;
    font-size: 14px;
    color: #FB8500;
    text-decoration: none;
    padding: 0px .5em;
}

.breadcrumb .breadcrumb-item a.active{
    color: #575959;
}

#bc::before {
    content: ">";
}
/*Styling card*/

.card .card-body h5{
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #1A1A19;
}

.card .card-body h5.pricing{
    font-weight: 500;
}

.card .card-body p{
    font-size: 14px;
    color: #575959;
}

.carousel-inner img {
    width: 100%;
    height: 400px; 
}

.slider-section{
width: 90%;
height: 360px;
}

.hero{
    width: 100%;
    height: 600px;
    
    background: url(img/cover-foto.png);
}