<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>E-Wallet</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="../style.css">
  </head>
  <body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-white">
        <div class="container-fluid">
            <div class="navbar-content container d-flex align-items-center">
                <div>
                    <a class="navbar-brand" href="#"><img src="../img/logo.png" alt=""></a>
                </div>
                <div>
                  <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb" class="mt-w">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item active"><a href="page-pesan.html">1. Pesan</a></li>
                      <li class="breadcrumb-item active"><a href="pilih-metode.html">2. Bayar</a></li>
                      <li class="breadcrumb-item active"><a href="#">3. Selesai</a></li>
                    </ol>
                  </nav>
                </div>
                <div>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                          <li class="nav-item">
                            <a class="nav-link" href="#">Cek Order</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Masuk</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link button">Daftar</a>
                          </li>
                        </ul>
                      </div>
                </div>
            </div>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
        </div>
    </nav>

    <!--Body section-->
    <section class="body-content">
      <div class="container">
        <div class="btn-prev d-flex align-items-center">
          <a href="pilih-metode.html"><img src="../img/back.svg" alt=""></a>
          <h3 class="mt-1 ms-3">Kembali</h3>
        </div>
  
        <div class="detail-pemesanan d-flex justify-content-between">
          <div class="card-left col-8">
            <div class="form-pemesan">
              <div class="d-flex justify-content-between align-item-center">
                <h2>Gopay</h2>
                <img src="../img/logo-pembayaran/gopay.svg" alt="">
              </div>
              <div class="metode-pembayaran bank">
                <div class="mb-3">
                    <h3>Nama Gopay</h3>
                    <h2>Tix 3d</h2>
                </div>

                <div class="mb-3">
                    <h3>Nomor Gopay</h3>
                    <h2>+62 821-1212-1212</h2>
                </div>

                <div class="mb-3">
                    <h3>Virtual Account Number</h3>
                    <div class="d-flex justify-content-between">
                        <h2>85712121212121212</h2>
                        <h3 class="tosca bank" id="copy">Copy</h3>
                    </div>
                </div>

                <div class="mb-3">
                    <h3>QR Code</h3>
                    <center><img src="../img/logo-pembayaran/contoh-qr.svg" alt=""></center>
                </div>
              </div>
            </div>
          </div>

          <div class="card-right col-4">
            <div class="form-detail-pesanan">
              <div class="d-flex justify-content-between align-items-center">
                <h2>Detail Pesanan</h2>
                <h3 class="tosca">Detail</h3>
              </div>
              <div class="image-poster d-flex">
                <img src="../img/foto pesanan.svg" alt="">
                <h3 class="ms-3">TREASURE TOUR HELLO 2023</h3>
              </div>
              <hr class="divider">
              <div class="pilihan-kursi">
                <h3>Purple A (Standing)</h3>
                <h3>1 Tiket</h3>
              </div>
              <hr class="divider">
              <div class="tanggal">
                <h3 class="title-secondary">Tanggal Dipilih</h3>
                <h3>Sabtu, 18 Maret 2023</h3>
              </div>
              <hr class="divider">
              <div class="total-pembayaran d-flex align-items-center justify-content-between">
                <h3 class="title-secondary mt-2">Total Pembayaran</h3>
                <h2 class="danger">Rp 2.200.000</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
</html>